<!DOCTYPE html>
<html>
    <head>
        <title>Dogg Numbers</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <!-- search bar -->
        <p> Enter the name of an artist on Spotify to see their collaborators:</p>
        <div class="artistSearch">
            <form method="POST" action="/">
                <label for="singer_name">Artist:</label>
                <input type="text" id="singer_name" name="singer_name" placeholder="Snoop Dogg" required>
                <input type="number" id="singer_num" name="singer_num" placeholder="Degree" required>
                <button type="submit">Calculate</button>
            </form>
        </div>

    </body>
</html>